@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@theme {
  --color-primary: #00adb5;
  --color-surface: #393e46; /* dark gray */
  --color-deep: #222831; /* darker background */
  --color-ink: #eeeeee; /* light text / light surface */
  --color-danger: #d53c3c; /* red */
  --color-white: #ffffff; /* white */

  --color-brand: var(--color-primary);
}

body {
  @apply bg-ink;
  font-family: 'Open Sans', sans-serif;
}

:root {
  font-family: 'Open Sans', sans-serif;
}
